* {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

body {
	background-image: url("wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;		
	background-size: 100%;
	margin-right: 10%;
	margin-left: 10%;

}

@media screen and (max-width: 790px)
{
	body
	{
		margin: 0%;
	}
}

form {
	display: inline;
}

button {
	outline: none;
}

button:hover {
	cursor: pointer;
}

.contain {
	margin: 10px;
	border: 2px darkgrey solid;
	border-radius: 25px;
	background-color: rgba(171,174,179,0.5);
}

header {
	margin: 10px;
}

.infos {
	display: inline-block;
	background-color: lightgrey;
	margin: 0.5%;
	width: 98%;
	height: 100px;
	border-radius: 25px;
	outline: none;
}

.infos:focus {
	background-color: grey
}

.bloc50 {
	margin: 0.5%;
	border: 1px solid black;
	border-radius: 25px;
	background: lightgrey;
	height: 100px;
	width: 45%;
	display: inline-block;
	outline: none;
}

.bloc50:focus {
	background-color: grey;
}

.navBarPC {
	overflow: hidden;
	position: fixed;
	top: 0;
}

.nav {
	border-radius: 0px 0px 25px 25px;
	background-color: lightgrey;
	display: inline;
	height: 50px;
}

.navBarMobile {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100vw;
	display: none;
}

.navMobile {
	border-radius: 25px 25px 0px 0px;
	background-color: lightgrey;
	display: inline;
	width: 45vw;
	height: 50px;
}

a {
	text-decoration: none;
}

img {
	width: 200px;
	height: 100px;
}

table {
	border: 2px solid black;
	border-radius: 25px;
	background-color: lightgrey;
	margin: 1%;
	width: 98%;
}

td {
	width: 48%;
}

@media screen and (max-width: 790px)
{
    form
    {
    	width: 100%;
        display: block;	
    }

    .infos
    {
    	height: 27vh;
    }

    .bloc50
    {
    	width: 98%;
    	height: 27vh;
    }

    .navBarPC
    {
    	display: none;
    }

    .navBarMobile
    {
    	display: block;
    }
}
